/env

db.sqlite3

/sistema_vacinacao/__pycache__/*
/vacinas/__pycache__/*
/vacinas/migrations/*
/usuarios/__pycache__/*
/usuarios/migrations/*
/medicos/__pycache__/*
/medicos/migrations/*
/unidades_saude/__pycache__/*
/unidades_saude/migrations/*
/estoques_vacina/__pycache__/*
/estoques_vacina/migrations/*
/aplicacoes_vacinais/__pycache__/*
/aplicacoes_vacinais/migrations/*
/campanhas_vacinais/__pycache__/*
/campanhas_vacinais/migrations/*
/campanha_vacinal_vacina/__pycache__/*
/campanha_vacinal_vacina/migrations/*
